/* About.css */
.small-image {
    max-width: 400px; /* Full width by default */
    height: auto; /* Maintain aspect ratio */
}

@media (max-width: 768px) {
    .small-image {
        max-width: 200px; /* Smaller size for smaller screens */
    }
}

.welcome{
    font-size: 20px;
}

.initial{
    font-size: 4em;
    font-weight: bold;
    color: #967300;
    float: left;
    margin-right: 10px;
}